@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

body {
	background: #181818;
	color: #f1f1f1;
	font: normal 100%/1.4 sans-serif;
	line-height: 2;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
    text-transform: lowercase;
}
section {
	text-align: left;
	padding: 0;
}
#container {
	width: 100%;
}
div {
    color: #F7F5EB;
    display: block;
    text-indent: 10em;
}
div .item:hover {
    background: #262626;
    cursor: pointer;
}
h1 {
	font-family: 'Arial', sans-serif;
	font-size: 3em;
    font-weight: bold;
	color: #1C7293;
    text-indent: 1em;
}
h2 {
    font-family: 'Arial', sans-serif;
	font-size: 1.5em;
    font-weight: bold;
	color: #A61F69;
    text-indent: 3em;
}